@media only screen and (max-width:375px) {
    @import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

/* .nft-icon {
  display: flex;
  color: #a259ff;
  font-size: 32px;
} */
header {
  /* display: flex; */
  /* justify-content: space-between; */
  /* align-items: center; */
  margin:15px 30px;
  /* margin: 38px auto 118px; */
  /* width: 834px; */
  width: 325px;
  /* width: 1180px; */
}
header nav {
  display: none;
}


.burger-menu-icon {
  display: block;
  color: white;
}
/* .nft-icon {
  display: flex;
}

header h1 {
  font-family: "Work Sans";
  font-size: 20px;
  padding-left: 15px;
  color: white;
}
header ul {
  display: none;
} */
/* header ul li {
  margin-left: 50px;
}
header ul li :last-child {
  margin-right: 30px;
}
header ul li a {
  text-decoration: none;
  color: white;
} */
/* ----2---- */
.home {
  /* width: 1070px; */
  width: 325px;
  /* display: flex; */
  margin: 0 72px;
  /* margin: 0 auto; */
}
.home-text h1 {
  /* font-family: "Work Sans";
  color: white; */
  font-size: 37px;

  /* font-size: 67px; */
  /* font-style: normal;
  font-weight: 600;
  line-height: 110%;
  margin-bottom: 20px;
  text-transform: capitalize; */
}
.home-text {
  margin-bottom: 80px;

  margin-right: 30px;

}
.home-text p {
  /* font-family: "Work Sans";
  font-weight: 400; */
  font-size: 17px;
  /* line-height: 150%;
  color: white;
  margin-bottom: 30px;
  text-transform: capitalize; */
}
/* .btn {
  font-family: "Work Sans";
  text-decoration: none;
  color: white;
  padding: 20px 35px;
  border-radius: 15px;
  font-size: 16px;
  font-weight: 600;
  line-height: 140%;
  background-color: #a259ff;
} */
.btn i {
  padding-right: 15px;
}
/* .home .numbers {
  display: flex;
  margin-top: 30px;
} */
.home .numbers h3 {
  /* font-family: "Space Mono"; */
  /* font-size: 28px; */
  font-size: 22px;
  /* color: white; */
}
.home .numbers p {
  /* font-family: "Space Mono"; */
  /* font-size: 24px; */
  font-size: 16px;
}
.home-img img {
  width: 300px;
}
/* .home .number {
  margin-right: 30px;
} */
  
.home-img-text {
  width: 24px;
  /* background-color: #3b3b3b;
  font-family: "Work Sans";
  margin-top: -4px;
  color: white;
  padding: 22px 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; */
}
/* .home-img-text h5 {
  font-size: 22px;
  margin-bottom: 10px;
  font-weight: 600;
  line-height: 30px;
}
.home-img-text p {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
} */
/* .home-img-text img {
  padding-right: 12px;
} */
.collection {
  width: 325px;
  margin: 0 72px;
}
.card {
  /* display: flex; */
  /* width: 834px; */
  width: 6325px;
} 

.collection h1 {
  /* font-weight: 600; */
  /* color: white; */
  font-size: 28px;
  /* font-size: 38px; */
  /* line-height: 120%; */
} 
.collection p {
  /* font-weight: 400; */
  /* font-size: 22px; */
  font-size: 16px;
  /* line-height: 160%; */
  /* color: white; */
  /* margin-bottom: 60px; */
}
.card .box:nth-child(3) {
  display: none;
}
/* .collection .card .photo-box {
  display: flex;
  align-items: center;
} */
/* .collection .card .photo-box img {
  margin-right: 15px;
} */
/* .collection-btn {
  font-family: "Work Sans";
  text-decoration: none;
  color: white;
  background-color: #a259ff;
  width: 100px;
  height: 100px;
  padding: 32px 16px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 600;
  line-height: 140%; */
/* } */
/* .card .first {
  margin-bottom: 15px;
} */
/* .card .box {
  margin-bottom: 30px;
  margin-right: 30px;
} */
/* .card .photo-box {
  margin-bottom: 15px;
} */
.card h3 {
  font-family: "Work Sans";
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
  color: white; }

.creator img {
  margin-right: 12px;
}
.creator p {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
}
/* .creator {
  height: 100vh;
  width: 20px;
  margin: 0;
}
.creator-text h3 {
  margin-bottom: 10px;
  color: white;
  font-size: 38px;
  width: 600;
}
.creator-text p {
  color: white;
  font-size: 22px;
  font-weight: 400;
} */
/* .creator-btn {
  font-family: "Work Sans";
  text-decoration: none;
  color: white;
  background-color: #2b2b2b;
  padding: 19px 50px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 600;
  border: 1px solid #a259ff;
  line-height: 140%;
}
.creator-btn i {
  color: #a259ff;
  margin-right: 21px;
}
.creator-title {
  display: flex;
  font-family: "Work Sans";
  justify-content: space-between;
} */


/* -----3---- */
.creators {
  margin: 250px 72px;
  width: 325px;
}

.creators-txt h3 {
    /* color: white; */
    font-size: 28px;
    /* font-size: 38px; */
    /* font-weight: 600;
    margin-bottom: 10px;
    text-transform: capitalize; */

}

.creators-txt p {
    /* color: white; */
    width: 325px;
    /* font-size: 22px; */
    font-size: 16px;
    /* font-weight: 400;
    margin-bottom: 60px;
    text-transform: capitalize; */
}
/* 
.creators-btn {
    font-family: "Work Sans";
    text-decoration: none;
    color: white;
    background-color: #2B2B2B;
    padding: 19px 50px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid #A259FF;
    line-height: 140%; */

 /* } */

.creators-box {
    /* display: grid;
     flex-direction: row; 
    gap: 30px; */
    /* grid-template-columns: repeat(4, 240px); */
    grid-template-columns: repeat(2,auto);
    /* margin-bottom: 80px; */
}


/* .creators-btn i {
    color: #A259FF;
    margin-right: 21px;
} */

.creators-title {
  width: 325px;
    /* display: flex;
    font-family: "Work Sans";
    justify-content: space-between;
    align-items: flex-start; */
}
.creators-box .c-box:nth-child(7) {
        display: none;
    }
    .creators-box .c-box:nth-child(8) {
display: none;
    }
    .creators-box .c-box:nth-child(9){
      display: none;
    }
    .creators-box .c-box:nth-child(10)
    {
      display: none;
    }

    .creators-box .c-box:nth-child(11) {
      display: none;
    }
    .creators-box .c-box:nth-child(12){
      display: none;
    }
.c-box {
  /* background-color: #3B3B3B;
  
    padding: 20px;
    border-radius: 20px;
    height: 238px; */
    position: relative; 
    /* width: 240px; */
    /* display: flex; */
    height: 100px;
    width: 330px;
}

.creators-box img {

    /* padding: 20px auto;
    position: absolute; */
    width: 60px;
    left: 10%;
}

.c-box i {
    /* font-family: "Space Mono";
    position: absolute;
    color: #858584;
    border: 1px solid #2B2B2B; */
    z-index: 1;
    /* border-radius: 50%;
    padding: 4px 10px;
    background-color: #2B2B2B; */
}

.c-box-title {
    position: absolute;
    left: 25%;
    top: 35%;
 
}
.creators-txt {
  width: 320px;
}

.c-box-title h5 {
    /* color: white;
    font-family: "Work Sans"; */
    display: flex;
    /* font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    text-align: center; */
}

/* .c-box-title p {
    color: #858584;
}

.c-box-title span {
    font-family: "Space Mono";
    font-size: 16px;
    font-weight: 400;
    color: #fff;
} */ 

/* SECTION 4 */
.categories {
    /* width: 1050px; */
    width: 325px;
    /* margin: 80px auto; */
    margin: 0 72px;

}
/* .categories-title {
    width: 1050px;
    margin: 80px auto;
    text-transform: capitalize;

} */

.categories-box {
  display: grid;
  /* margin: 0 auto;
  width: 1050px; */
    gap: 30px;
    grid-template-columns: repeat(4, 149px);
}

.categories h3 {
    /* font-size: 38px; */
    font-size: 28px;
    /* font-weight: 600;
    margin: 0 auto;
    color: white;
    margin-bottom: 60px; */
}

.bc-box {
    /* position: relative;
    border-radius: 20px;
    width: 240px;
    height: 316px;
    background-color: #3B3B3B;
     overflow: hidden;  */
     height: 210px;
     /* margin-left: 30px; */
     width: 150px;

}

.bc-box .box-img {
    /* overflow: hidden; */
   
    width: 150px;
}

/* .bc-box img:first-child {
    filter: blur(5px);
   
} */

.bc-box i {
    /* color: white; */
    /* font-size: 60px; */
    font-size: 50px;
    transform: translate(-50%, -50%);
    /* position: absolute; */
    top: 40%;
    left: 50%;
}


/* .bc-box .p-icon {
    color: white;
    font-size: 60px;
    position: absolute;
    top: 36%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
} */

.categories h2 {
    /* padding: 20px 30px 25px;
    font-family: "Work Sans";
    color: white; */
    padding: 15px;
    font-size: 16px;
    /* font-size: 22px;
    font-weight: 600; */
}

/* SECTION 5 */
.discover {
  
  width: 325px;
    /* width: 1050px; */
    /* margin: 80px auto; */
    margin: 80px 72px;
}

/* .discver-card {
    display: flex;
} */

.discover-title {
    /* display: flex;
    font-family: "Work Sans";
    justify-content: space-between;
    align-items: flex-start;
    text-transform: capitalize; */
    width: 325px;
}

.discover-txt h3 {
    /* text-transform: capitalize;
    color: white;
    font-size: 38px; */
    font-size: 28px;
    /* font-weight: 600;
    margin-bottom: 10px;
   */
}
 .discover-txt p {
    /* text-transform: capitalize;
    color: white;
    font-size: 22px; */
    font-size: 16px;
    /* font-weight: 400;
    margin-bottom: 60px; */
} 

/* .discover-btn {
    font-family: "Work Sans";
    text-decoration: none;
    color: white;
    background-color: #2B2B2B;
    padding: 19px 50px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid #A259FF;
    line-height: 140%;
} */

/* .discover-btn i {
    margin-right: 19px;
} */

/* .discover-img-txt {
    background-color: #3B3B3B;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    font-family: "Work Sans";
    padding: 22px 20px;
    margin-top: -4px;
}

.discover h5 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
} */

/* .discover .cp {
    margin-right: 12px;
} */

/* .discover p {
    font-family: "Space Mono";
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
} */

.discover-img {
  width: 320px;
    /* width: 33%;
    margin-right: 30px; */
}
.discover-card .discover-img:nth-child(3):nth-child(3) {
  display: none;
}
/* 
.discover-img .discover-imgs {
    width: 100%;
}

.discover .price {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}

.price .p1 p {
    font-family: "Space Mono";
    color: rgba(133, 133, 132, 1);
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 8px;
} */

/* .price .p1 h3 {
    font-family: "Space Mono";
    color: white;
    font-size: 16px;
    font-weight: 400;
} */

/* -----6------- */
/* .magic {
    background-image: url(nft-highlight@1x.png);
    position: relative;
  
    height: 100vh;
    
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
} */

/* .bcg-color {
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(162, 89, 255, 0) 0%, #A259FF 100%);
} */

/* .magic-title p {
    width: 151px;
    height: 44px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    font-family: "Work Sans";
    font-size: 16px;
    font-weight: 400;
    color: white;
    background-color: rgba(59, 59, 59, 1);
    padding: 11px 20px;
    margin-bottom: 30px;
} */
/* .magic-title img {
    margin-right: 12px;
} */
.magic-txt {
    /* width: 1056px; */
    width: 325px;
    /* position: absolute; */
    /* bottom: 10%; */
    /* left: 10%; */
    /* left: 3%;
    display: flex; */
    /* justify-content: space-between; */
    /* justify-content: space-around;
    align-items: center; */
}
.magic-txt h2 {
    /* color: white;
    font-family: "Work Sans";
    font-size: 51px; */
    font-size: 38px;
    /* font-weight: 600;
    margin-bottom: 56px; */
}

/* .magic-btn {
    font-family: "Work Sans";
    text-decoration: none;
    color: #2B2B2B;
    background-color: white;
    padding: 19px 50px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 600;
} */

/* .magic-btn i {

    color: #A259FF;
    margin-right: 19px;
} */
/* .magic .clock {
    background-color: rgba(59, 59, 59, 0.5);
    border-radius: 20px;
    padding: 30px;
} */
/* .magic .clock-number {
    display: flex;
    color: white;
} */

/* .magic .clock p, span {
    font-family: "Space Mono";
    color: white;
    font-size: 12px;
    font-weight: 400;
} */

/* .magic .clock-number h3 {
    font-family: "Space Mono";
    font-size: 38px;
    font-weight: 700;
} */

/* SECTION 7 */
.work {
    /* width: 1050px; */
   width: 325px;
    /* margin: 80px auto; */
    margin: 80px 72px;
}
.work h3 {
    /* text-transform: capitalize;
    color: white;
    font-family: "Work Sans";
    font-size: 38px; */
    font-size: 28px;
    /* font-weight: 600;
    margin-bottom: 10px; */
}
.work-title {
  width: 325px;
}

.work-cards {
    /* display: grid; */
    /* grid-template-columns: repeat(3, 330px); */
    grid-template-columns: repeat(3, 210px);
    /* column-gap: 30px; */
}
.work-card {
    /* width: 330px; */
    width: 210px;
    height: 320px;
    /* height: 439px;
    background-color: #3B3B3B;
    
    border-radius: 20px; */
}
.work-card-txt {
  padding: 0;
    /* padding: 0 30px; */
    /* text-align: center; */
}
.work-card img {
  width: 240px;
  margin: 16px -16px;
    padding: 30px 60px;
}
.work-card h5 {
    /* font-family: "Work Sans"; */
    /* font-size: 22px; */
    font-size: 16px;
    /* font-weight: 600;
    color: white; */
}
.work-card p {
    /* margin-top: 10px;
    font-family: "Work Sans"; */
    font-size: 12px;
    /* font-weight: 400;
    color: white; */
}

/* ------8----- */

.astronaut {
  padding: 30px;
  justify-content: space-around;
}

.digest h3 {
  font-size: 28px;
}
.digest-txt a {

  margin-top: 16px;
  margin-left: 1px;
  width: 100%;  
  display: block;
}

.astronaut img {
  width: 300px;
  height: 280px;
}
.digest {
  width: 325px;
}
.digest-txt input {
  width: 100%;
  margin-bottom: 16px;
  display: block;
}

.digest p {
  font-size: 16px;
  text-transform: none;
}



/* FOOTOR */
.line {
  width: 70%;
  border: 1px solid white;
  margin-left: 115px;

}
footer {
  background-color: #3B3B3B;
}
.footer-box {
  display: block;
  padding: 35px 115px;
  justify-content: space-evenly;
}



/* BROWSE */
.browse-card {
  width: 325px;
  grid-template-columns: repeat(2, 325px);
  display: grid;
}
.browse-text {
  padding: 0;
  margin: 0 77px;
}
.browse-text h2 {
  font-size: 38px;
}
.browse-text p {
  font-size: 16px;
}

.browse-card .browse-img:nth-child(9) {
  display: none;
}
.browse-card .browse-img:nth-child(10) {
  display: none;
}
.browse-card .browse-img:nth-child(11) {
  display: none;
}
.browse-card .browse-img:nth-child(12) {
    display: none;
}
.browse-img {
  width: 325px;
}

/* Marketpalce */

.browse-text {
  padding: 0;
  margin: 0 77px;
}
.box .m-img img {
  padding: 0 12px;
}
.creators .box {
  width: 325px;
  padding: 18px 26px;
}
.box .m-number,
.m-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.box .m-img h3 {
  font-size: 15px;
}
.creators-text h2 {
  font-size: 38px;
}
.box .m-number p {
  font-size: 16px;
}
.box .m-img span {
  padding: 0 8px 2px 6px;
}
.box .m-number {
  display: flex;
}
.box .m-number a {
  margin-right: 60px;
}
.m-number p:first-child {
  display: none;
}
.box-title .m-text p:last-child {
  display: none;
}
.box .m-number:last-child {
  margin-left: 0;
}
.creators .box-title {
  width: 690px;
  }
.box-title .m-text p {
  margin-right: -46px;
  font-size: 16px;
}
.box-title .m-title p {
  font-size: 16px;
}
.creators-time {
  width: 325px;
  padding: 19px;
}


/* connect */
.connect-btn ul li {
  padding: 14px 20px;
  /* font-size: 22px;
  font-weight: 600;
  font-family: "Work Sans";
  color: white;
  margin-left: 20px; */
}
}